@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BazziGame';
  src: url('./src/assets/fonts/Bazzi OTF.otf') format('opentype'),
       url('./src/assets/fonts/Bazzi TTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url('./img/click_cursor.png'), auto;
}

*, *:hover, *:active, *:focus {
  cursor: url('./img/click_cursor.png'), auto !important;
}

#game-viewport {
  width: 920px;
  height: 608px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'BazziGame', sans-serif;
}
